{% extends "layout.html" %}
{% block content %}

<h5>
This tool has been created by Peter Pfleiderer. The regional masking is based on scripts developped by Mario Krapp.<br><br>
Global warming levels are taken from the <a href="http://wlcalc.climateanalytics.org">Warming Attribution Calculator</a><br><br>We acknowledge the World Climate Research Programme's Working Group on Regional Climate, and the Working Group on Coupled Modelling, former coordinating body of CORDEX and responsible panel for CMIP5. We also thank the climate modelling groups (listed in Table XX of this paper) for producing and making available their model output. We also acknowledge the Earth System Grid Federation infrastructure an international effort led by the U.S. Department of Energy's Program for Climate Model Diagnosis and Intercomparison, the European Network for Earth System Modelling and other partners in the Global Organisation for Earth System Science Portals (GO-ESSP).<br><br>
</h5>
{% endblock %}
