{% extends "layout.html" %}
{% block content %}

<h5>
This tool has been created by Peter Pfleiderer (peter.pfleidererATclimateanalytics.org). The regional masking is based on scripts developped by Mario Krapp.<br><br>
Global warming levels are taken from the <a href="http://wlcalc.climateanalytics.org">Warming Attribution Calculator</a><br><br>We acknowledge the World Climate Research Programme's Working Group on Regional Climate, and the Working Group on Coupled Modelling, former coordinating body of CORDEX and responsible panel for CMIP5. We also thank the climate modelling groups (listed in <a href='http://regioclim.climateanalytics.org/documentation#doc_ensemble'>this table</a>) for producing and making available their model output. We also acknowledge the Earth System Grid Federation infrastructure an international effort led by the U.S. Department of Energy's Program for Climate Model Diagnosis and Intercomparison, the European Network for Earth System Modelling and other partners in the Global Organisation for Earth System Science Portals (GO-ESSP).<br><br>
The work leading to this application has received funding from the German Ministry of Environment under the project PAS-PNA (Projet d’Appui Scientifique aux processus de Plans Nationaux d’Adaptation dans les pays francophones les moins avancés d’Afrique subsaharienne) implemented jointly by Climate Analytics and Deutsche Gesellschaft für Internationale Zusammenarbeit (GIZ).<br><br>
</h5>
{% endblock %}
