{% extends "index.html" %}
{% block content %}




<div row>
    <form method="POST" action="/go_to_choices">
      <button type="submit" class="btn">Back</button>
    </form>
</div>


<div row>
	<div row>
		Model Performance over reference period:
		(difference between observations and bias corrected model output over the reference period)
	</div>
    <IMG SRC={{ bias_corretion_check }} ALT=' ' WIDTH=700 HEIGHT=500>
    <a class="label label-primary" href={{ bias_corretion_check }} target="_blank"  style="margin-right: 5px;">Download plot </a>
</div>






{% endblock %}





