{% extends "index.html" %}
{% block content %}

<div id="loading"><div id="overlay"></div><div id="overlay_image"></div></div>




<div id="content">

<div id="LeftPanel" style="width: 20%; height: 100%; float: left;">

  <form method="POST" action="/country_choice" id="country_id">
  <h3>{{ country_h }}</h3>
  <p class=small>{{ country_txt }}</p>
  {{ form_country.countrys(onchange="change_country();") }}
  </form>

  <form method="POST" action="/indicator_choice" id="indicator_id">
  <h3>{{ indicator_h }} <a href="documentation#doc_indicators"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></h3>
  <!-- <p class=small>{{ indicator_txt }} -->
  <!-- <a href="documentation#doc_indicators">here</a> -->
  </p>
  {{ form_indicator.indicators(onchange="change_indicator();") }}
  <a class="label label-primary" href="/prepare_for_download/get_data**bla" target="_blank"  style="margin-right: 5px;">{{download_data }}</a>
  </form>




{% if use_periods==0 %}
  <form method="POST" action="/warming_lvl_choice" id="warming_lvl_id">
  <h3>{{ warming_lvl_h }} <a href="documentation#doc_scenario"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></h3>
  <p class=small>{{ warming_lvl_txt_1 }}
  <a href="switch_to_periods">{{use_periods_0}}</a>
  {{ warming_lvl_txt_2 }}</p>
  {{ future_warming_lvl }}<br> {{ form_warming_lvl.warming_lvls(onchange="change_warming_lvl();") }}
  {{ ref_warming_lvl }}<br> {{ form_warming_lvl_ref.warming_lvl_refs(onchange="change_warming_lvl();") }}
  </form>
{% endif %}

{% if use_periods==1 %}
  <form method="POST" action="/periodchoice" onsubmit="period_change()" id="period_id">
  <h3>{{ period_h }}</h3>
  <p class=small>{{ period_txt_1 }} 
  <a href="switch_to_periods">{{use_periods_1}}</a>  
  {{ period_txt_2 }} <a href="documentation#doc_scenario"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></p>
      {{ ref_period }} {{ form_period.ref_period(size=10) }}
      {{ proj_period }} {{ form_period.proj_period(size=10 ) }}
    <button type="submit" class="btn">{{select_periods}}</button>
  </form>
{% endif %}  


 
  <form method="POST" action="/season_choice" id="season_id">
  <h3>{{ time_scale_h }}</h3>
  <p class=small>{{ time_scale_txt }}
  <a href="go_to_season_page">{{define_season}}</a> 
  {{ form_season.seasons(onchange="change_season();") }}
  </form>


  <form method="POST" action="/region_choice" id="region_id">
  <h3>{{ region_h }} <a href="documentation#doc_shapefiles"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></h3>
  <p class=small>{{ region_txt }}
  <a href="merging_page">{{merge_regions}}</a>
  </p>
  {{ form_region.regions(onchange="change_region();") }}
  {% if small_region_warning==True %}
  <p class=warn_txt><b>{{ warning }}</b>{{ warning_txt }}
  <a href="merging_page"><font color="BlueViolet">{{merge_regions}}</font></a></p>
  {% endif %}
  <IMG SRC={{ overview_plot }} ALT=' ' WIDTH=350 HEIGHT=350></IMG>
  </form>

</div>





<div id="LeftPanel" style="width: 35%; height: 100%; float: left; padding-left: 5%;">
  {% if EWEMBI_plot!='no_plot' %} 
    <figure>
      <caption><h3>Reference Period
      <a href="documentation#doc_plot_climatology"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a>
      </h3></caption>
      <IMG SRC={{ EWEMBI_plot }} ALT=' ' WIDTH=350 HEIGHT=350></IMG>
      <figcaption>{{ EWEMBI_plot_title_txt }}</figcaption>
    </figure>
  <a class="label label-primary" href="/prepare_for_download/EWEMBI_plot**_large.png" target="_blank"  style="margin-right: 5px;">{{download_png}}</a>
  <a class="label label-primary" href="/prepare_for_download/EWEMBI_plot**.pdf" target="_blank"  style="margin-right: 5px;">{{download_pdf}}</a>
  {% endif %} 

    <h3>{{ transient_plot_title }} <a href="documentation#doc_plot_transient"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></h3>
    <p class=small>{{ transient_plot_title_txt }}</p>
      <IMG SRC={{ transient_plot }} ALT=' ' WIDTH=350 HEIGHT=350></IMG>
  <a class="label label-primary" href="/prepare_for_download/transient_plot**_large.png" target="_blank"  style="margin-right: 5px;">{{download_png}}</a>
  <a class="label label-primary" href="/prepare_for_download/transient_plot**.pdf" target="_blank"  style="margin-right: 5px;">{{download_pdf}}</a>

</div>

<div id="LeftPanel" style="width: 35%; height: 100%; float: left; padding-left: 5%;">
  <figure>
    <caption><h3>{{ Projection_plot_title }} 
    <a href="documentation#doc_plot_projection"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a>
    </h3></caption>
      <IMG SRC={{ Projection_plot }} ALT=' ' WIDTH=350 HEIGHT=350></IMG>
    <figcaption>{{ Projection_plot_title_txt }}</figcaption>
  </figure>
  <a class="label label-primary" href="/prepare_for_download/Projection_plot**_large.png" target="_blank"  style="margin-right: 5px;">{{download_png}}</a>
  <a class="label label-primary" href="/prepare_for_download/Projection_plot**.pdf" target="_blank"  style="margin-right: 5px;">{{download_pdf}}</a>

  {% if annual_cycle_plot!='no_plot' %}
    <h3>{{ annual_cycle_plot_title }} <a href="documentation#doc_plot_annual_cycle"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></h3>
    <p class=small>{{ annual_cycle_plot_title_txt }}</p>
      <IMG SRC={{ annual_cycle_plot }} ALT=' ' WIDTH=350 HEIGHT=350></IMG>
  <a class="label label-primary" href="/prepare_for_download/annual_cycle_plot**_large.png" target="_blank"  style="margin-right: 5px;">{{download_png}}</a>
  <a class="label label-primary" href="/prepare_for_download/annual_cycle_plot**.pdf" target="_blank"  style="margin-right: 5px;">{{download_pdf}}</a>
  {% endif %} 
  </div>


</div>



<!-- {% if user_type=='advanced' %}
  <form method="POST" action="/scenario_choice" id="scenario_id">
  {{ form_scenario.scenarios.label }}<br> {{ form_scenario.scenarios(onchange="change_scenario();") }}
  </form>

  <form method="POST" action="/dataset_choice" id="dataset_id">
  {{ form_dataset.datasets.label }}<br> {{ form_dataset.datasets(onchange="change_dataset();") }}
  </form>

  <div row>
    <form method="POST" action="/go_to_model_agreement">
      <button type="submit" class="btn">Model Agreement</button>
    </form>
    <form method="POST" action="/go_to_bias_correction">
      <button type="submit" class="btn">Bias Correction</button>
    </form>
  </div>
{% endif %} -->



{% endblock %}


    'fr':{
      'overview_plot':overview_plot.replace('app/',''),

      'EWEMBI_plot':EWEMBI_plot.replace('app/',''),
      'EWEMBI_plot_title':'Climatologie',
      'EWEMBI_plot_title_txt':indicator_dict[lang][s['indicator']]+' en moyenne de le période de référence '+refP_clim_longname+' '+s['season']+'. Les observations proviennent de EWEMBI',

      'Projection_plot':Projection_plot.replace('app/',''),
      'Projection_plot_title':'Changement Projeté',
      'Projection_plot_title_txt':'Changement projeté en '+indicator_dict[lang][s['indicator']]+' pour '+proP_longname+' par rapport à la période de référence '+refP_longname+' '+s['season']+'. Ici la moyenne de l`ensemble est présentée, les grilles pour lesquelles les différents modèles sont en désaccord sont coloriés en gris. Les projections sont basées sur le scénario d´émission RCP4.5.',

      'transient_plot':transient_plot.replace('app/',''),
      'transient_plot_title':'Trajectoire Projetée',
      'transient_plot_title_txt':indicator_dict[lang][s['indicator']]+' présenté comme moyenne mobile de 20 années. Observations (EWEMBI) en noir pour la période 1989-2003. Modélisations climatiques régionales en vert pour la période 1960-2090. La ligne représente la moyenne de l`ensemble et la zone ombragée montre l`écart entre les modèles. Des différences entre observations et la modélisation climatique pendant la période 1989-2003 doivent être attendus. Les projections sont basées sur le scénario d´émission RCP4.5.',

      'annual_cycle_plot':annual_cycle_plot.replace('app/',''),
      'annual_cycle_plot_title':'Cycle Annuel',
      'annual_cycle_plot_title_txt':'Cycle annuel de '+indicator_dict[lang][s['indicator']]+' pour la période de référence '+refP_clim_longname+' (en haut) et différences dans le cycle annuel projetées pour '+proP_longname+ ' par rapport à la période de référence'+refP_longname+' (en bas). Observations (EWEMBI) en vert, modélisation climatique régionale en vert. La ligne représente la moyenne de l`ensemble et la zone ombragée montre l`écart entre les modèles. Les projections sont basées sur le scénario d´émission RCP4.5.',
    }
    }


