{% extends "index.html" %}
{% block content %}
<div id="loading"><div id="overlay"></div><div id='overlay_text'><h1>Loading ... </h1></div></div>
<div id="content">

<div id="LeftPanel" style="width: 20%; padding-left: 2%; padding-right: 2%; height: 100%; float: left; background: rgba(170,170,170,0.5);">
  <form method="POST" action="/country_choice" id="country_id">
  <h3>Country</h3>
  {{ form_country.countrys(onchange="change_country();") }}
  </form>

  <form method="POST" action="/indicator_choice" id="indicator_id">
  <h3>Climate Indicator <a href="documentation#doc_indicators"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></h3>
  </p>
  {{ form_indicator.indicators(onchange="change_indicator();") }}
  <a class="label label-primary" href="/prepare_for_download/get_data**bla" target="_blank"  style="margin-right: 5px;">{{download_data }}</a>
  </form>

{% if use_periods==0 %}
  <form method="POST" action="/warming_lvl_choice" id="warming_lvl_id">
  <h3>Global Warming Level <a href="documentation#doc_scenario"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></h3>
  <p class=small>Global warming level above pre-industrial for which the regional response is presented. Alternatively you can use
  <a href="switch_to_periods">{{use_periods_0}}</a></p>
  Future warming level<br> {{ form_warming_lvl.warming_lvls(onchange="change_warming_lvl();") }}
  Reference warming level<br> {{ form_warming_lvl_ref.warming_lvl_refs(onchange="change_warming_lvl();") }}
  </form>
{% endif %}

{% if use_periods==1 %}
  <form method="POST" action="/periodchoice" onsubmit="period_change()" id="period_id">
  <h3>{{ period_h }}</h3>
  <p class=small>Time periods for which projections are shown. Alternatively you can select
  <a href="switch_to_periods">{{use_periods_1}}</a>
  {{ period_txt_2 }} <a href="documentation#doc_scenario"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></p>
    Reference Period{{ form_period.ref_period(size=10) }}
      {% if ref_period_warning=='small' %}<p class=warn_txt><b>Warning: </b>We suggest to select periods of at least 20 years!</p>{% endif %}
      {% if ref_period_warning=='strange' %}<p class=warn_txt><b>Warning: </b>The first year of the period should be earlier than the last year!</p>{% endif %}
      {% if ref_period_warning=='out_range' %}<p class=warn_txt><b>Warning: </b>Please choose a reference period lying within 1979-2005!</p>{% endif %}
    Projection Period{{ form_period.proj_period(size=10 ) }}
      {% if proj_period_warning=='small' %}<p class=warn_txt><b>Warning: </b>We suggest to select periods of at least 20 years!</p>{% endif %}
      {% if proj_period_warning=='strange' %}<p class=warn_txt><b>Warning: </b>The first year of the period should be earlier than the last year!</p>{% endif %}
      {% if proj_period_warning=='out_range' %}<p class=warn_txt><b>Warning: </b>Please choose a projection period lying within 1950-2099!</p>{% endif %}
  <button type="submit" class="btn">{{select_periods}}</button>
  </form>
{% endif %}



  <form method="POST" action="/season_choice" id="season_id">
  <h3>Time Scale</h3>
  <p class=small>Select annual or monthly time scale or <a href="season_page">define a season</a>.</p>
  {{ form_season.seasons(onchange="change_season();") }}
  </form>


  <form method="POST" action="/region_choice" id="region_id">
  <h3>Administrative Region <a href="documentation#doc_shapefiles"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></h3>
  <p class=small>Region for which the transient and annual cycle is presented. You can also <a href="merging_page">merge regions</a>.</p>
  {{ form_region.regions(onchange="change_region();") }}
  {% if small_region_warning==True %}
  <p class=warn_txt><b>Warning: </b>{{ warning_txt }}
  <a href="merging_page"><font color="BlueViolet">{{merge_regions}}</font></a></p>
  {% endif %}
  <IMG SRC={{ overview_plot }} ALT=' ' WIDTH=350 HEIGHT=350></IMG>
  </form>

</div>


<div id="LeftPanel" style="width: 74%; height: 100%; float: left; padding-left: 2%;">
  <h3>Regional climate model projections vizualized for the country scale </h3>
  <p>Click on <a class="label label-primary" tyle="margin-right: 5px;">png</a> or <a class="label label-primary" tyle="margin-right: 5px;">pdf</a> to download high resolution graphics.
  <div id="LeftPanel" style="width: 50%; height: 100%; float: left;">
    {% if EWEMBI_plot!='no_plot' %}
      <figure>
        <caption><h3>Reference Period
        <a href="documentation#doc_plot_climatology"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a>
          <form method="POST" action="/prepare_for_download/EWEMBI_plot**_large.png" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">png</button></form>
          <form method="POST" action="/prepare_for_download/EWEMBI_plot**.pdf" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">pdf</button></form> </h3>
        </caption>
        <IMG SRC={{ EWEMBI_plot }} ALT=' ' WIDTH=100%></IMG>
        <figcaption class=small>{{indicator[0].upper()+indicator[1:]}}{{season_add_on}} averaged over the reference period {{refP_clim_longname}}. This map is based on the <a href=documentation#doc_EWEMBI>EWEMBI</a> dataset.</figcaption>
        {{EWEMBI_plot_text}}
      </figure>
    {% endif %}
  </div>
  <div id="LeftPanel" style="width: 50%; height: 100%; float: left;">
    {% if Projection_plot!='no_plot' %}
      <figure>
        <caption><h3>Projected Change
        <a href="documentation#doc_plot_projection"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a>
        <form method="POST" action="/prepare_for_download/Projection_plot**_large.png" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">png</button></form>
        <form method="POST" action="/prepare_for_download/Projection_plot**.pdf" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">pdf</button></form> </h3>
        </caption>
        <IMG SRC={{ Projection_plot }} ALT=' ' WIDTH=100%></IMG>
      <figcaption class=small>Projected change in {{indicator}}{{season_add_on}} for {{proP_longname}} compared to the reference period {{refP_longname}}. Here the <a href=documentation#doc_meth_ens_mean>ensemble mean</a> of <a href=documentation#doc_RCM>regional climate model</a> projections is displayed. Grid-cells for which a <a href=documentation#doc_meth_disagreement>model-disagreement</a> is found are colored in gray. The projections are based on the <a href=documentation#doc_scenario>emission scenario RCP4.5</a>.</figcaption>
      </figure>
    {% endif %}
  </div>
</div>

<div id="LeftPanel" style="width: 74%; height: 100%; float: left; padding-left: 2%;">
  <div id="LeftPanel" style="width: 50%; height: 100%; float: left;">
    {% if transient_plot!='no_plot' %}
      <figure>
        <caption><h3>Regionally Averaged Transient
        <a href="documentation#doc_plot_transient"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a>
        <form method="POST" action="/prepare_for_download/transient_plot**_large.png" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">png</button></form>
        <form method="POST" action="/prepare_for_download/transient_plot**.pdf" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">pdf</button></form> </h3>
        </caption>
        <IMG SRC={{ transient_plot }} ALT=' ' WIDTH=100%></IMG>
      <figcaption class=small><a href=documentation#doc_RCM>Regional climate model</a> projections for {{indicator}}{{season_add_on}} displayed as 20 year running mean. The line represents the <a href=documentation#doc_meth_ens_mean>ensemble mean</a> while the shaded area represents the model spread. The projections are based on the <a href=documentation#doc_scenario>emission scenario RCP4.5</a>.</figcaption>
      </figure>
    {% endif %}
  </div>

  <div id="LeftPanel" style="width: 50%; height: 100%; float: left;">
    {% if annual_cycle_plot!='no_plot' %}
      <figure>
        <caption><h3>Regionally Averaged Annual Cycle
        <a href="documentation#doc_plot_annual_cycle"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a>
        <form method="POST" action="/prepare_for_download/annual_cycle_plot**_large.png" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">png</button></form>
        <form method="POST" action="/prepare_for_download/annual_cycle_plot**.pdf" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">pdf</button></form> </h3>
        </caption>
        <IMG SRC={{ annual_cycle_plot }} ALT=' ' WIDTH=100%></IMG>
      <figcaption class=small>Top: Annual cycle of {{indicator}} for the period {{refP_clim_longname}}. Bottom: Changes in annual cycle projected for {{proP_longname}} compared to the reference period {{refP_longname}}. <a href=documentation#doc_EWEMBI>EWEMBI</a> data is shown in black, <a href=documentation#doc_RCM>regional climate model</a> simulations in green. The green line represents the <a href=documentation#doc_meth_ens_mean>ensemble mean</a> while the shaded area represents the model spread. The projections are based on the <a href=documentation#doc_scenario>emission scenario RCP4.5</a>.</figcaption>
      </figure>
    {% endif %}
  </div>
</div>


</div>




{% endblock %}
