{% extends "index.html" %}
{% block content %}



<div id="LeftPanel" style="width: 20%; height: 100%; float: left;">

  <form method="POST" action="/country_choice" id="country_id">
  <h3>{{ country_h }}</h3>
  <p class=small>{{ country_txt }}</p>
  {{ form_country.countrys.label }}<br> {{ form_country.countrys(onchange="change_country();") }}
  </form>

  <form method="POST" action="/indicator_choice" id="indicator_id">
  <h3>{{ indicator_h }}</h3>
  <p class=small>{{ indicator_txt }}</p>
  {{ form_indicator.indicators.label }}<br> {{ form_indicator.indicators(onchange="change_indicator();") }}
  </form>

  <form method="POST" action="/region_choice" id="region_id">
  <h3>{{ region_h }}</h3>
  <p class=small>{{ region_txt }}</p>

  <br> {{ form_region.regions(onchange="change_region();") }}
  </form>
  {% if small_region_warning==True %}
  <h6>{{warning}}</h6>
  <p class=warn_txt>{{warning_txt}}</p>
  {% endif %}
  <form method="POST" action="/go_to_merging_page">
    <button type="submit" class="btn">Merge Regions</button>
  </form>




{% if user_type=='advanced' %}
  <form method="POST" action="/scenario_choice" id="scenario_id">
  {{ form_scenario.scenarios.label }}<br> {{ form_scenario.scenarios(onchange="change_scenario();") }}
  </form>

  <form method="POST" action="/dataset_choice" id="dataset_id">
  {{ form_dataset.datasets.label }}<br> {{ form_dataset.datasets(onchange="change_dataset();") }}
  </form>

  <div row>
    <form method="POST" action="/go_to_model_agreement">
      <button type="submit" class="btn">Model Agreement</button>
    </form>
    <form method="POST" action="/go_to_bias_correction">
      <button type="submit" class="btn">Bias Correction</button>
    </form>
  </div>

{% endif %}



  <form method="POST" action="/periodchoice">
      {{ form_period.hidden_tag() }}
      {{ form_period.ref_period.label }} {{ form_period.ref_period(size=10) }}
      {{ form_period.proj_period.label }} {{ form_period.proj_period(size=10 ) }}
  
    <button type="submit" class="btn">Select periods       </button>
  </form>
  

  <form method="POST" action="/season_choice" id="season_id">
  <h3>{{ time_scale_h }}</h3>
  <p class=small>{{ time_scale_txt }}</p>
  {{ form_season.seasons.label }}<br> {{ form_season.seasons(onchange="change_season();") }}
  </form>



</div>




<div class="span9">

  <div row>
    <div class="span4">{{ EWEMBI_plot_title }}</div>
    <div class="span4">{{ Projection_plot_title }}</div>
  </div>

  <div row>
    <div class="span4">
      <IMG SRC={{ EWEMBI_plot }} ALT=' ' WIDTH=350></IMG>
      <a class="label label-primary" href={{ EWEMBI_plot }} target="_blank"  style="margin-right: 5px;">Download plot </a>
    </div>
    <div class="span4">
      <IMG SRC={{ Projection_plot }} ALT=' ' WIDTH=350></IMG>
      <a class="label label-primary" href={{ Projection_plot }} target="_blank"  style="margin-right: 5px;">Download plot </a>
    </div>
  </div>

  <div row>
    <div class="span4"><p style="margin-top: 20px;">{{ transient_plot_title }}</p></div>
    <div class="span4"><p style="margin-top: 20px;">{{ annual_cycle_plot_title }}</p></div>
  </div>

  <div row>
    <div class="span4">
      <IMG SRC={{ transient_plot }} ALT=' ' WIDTH=350></IMG>
      <a class="label label-primary" href={{ transient_plot }} target="_blank"  style="margin-right: 5px;">Download plot </a>
    </div>
    <div class="span4">
      <IMG SRC={{ annual_cycle_plot }} ALT=' ' WIDTH=350></IMG>
      <a class="label label-primary" href={{ annual_cycle_plot }} target="_blank"  style="margin-right: 5px;">Download plot </a>
    </div>
  </div>
</div>






{% endblock %}





