{% extends "index.html" %}
{% block content %}

<div id="loading"><div id="overlay"></div><div id='overlay_text'><h1>Loading ... </h1></div></div>
<div id="content">

  <div id="LeftPanel" style="width: 20%; padding-left: 2%; padding-right: 2%; height: 100%; float: left; background: rgba(170,170,170,0.5);">

  <form method="POST" action="/country_choice" id="country_id">
  <h3>Pays</h3>
  {{ form_country.countrys(onchange="change_country();") }}
  </form>

  <form method="POST" action="/indicator_choice" id="indicator_id">
  <h3>Indicateur Climatique <a href="documentation#doc_indicators"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></h3>
  {% if small_region_warning==True %}
  <p class=warn_txt><b>Attention: </b>{{ reduced_inidicator_set_txt }}</p>
  {% endif %}
  {{ form_indicator.indicators(onchange="change_indicator();") }}
  <a class="label label-primary" href="/prepare_for_download/get_data**{country}{indicator}" target="_blank"  style="margin-right: 5px;">{{download_data }}</a>
  </form>




{% if use_periods==0 %}
  <form method="POST" action="/warming_lvl_choice" id="warming_lvl_id">
  <h3>Niveau de Réchauffement Global <a href="documentation#doc_scenario"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></h3>
  <p class=small>Niveau de réchauffement global au-dessus des niveaux préindustriels pour lesquelles les projections climatiques régionale sont présentées. Alternativement vous pouvez choisir des
  <a href="switch_to_periods">périodes temporelles fixes</a></p>
  Niveau de réchauffement future<br> {{ form_warming_lvl.warming_lvls(onchange="change_warming_lvl();") }}
  Niveau de réchauffement de référence<br> {{ form_warming_lvl_ref.warming_lvl_refs(onchange="change_warming_lvl();") }}
  </form>
{% endif %}

{% if use_periods==1 %}
  <form method="POST" action="/periodchoice" onsubmit="period_change()" id="period_id">
  <h3>Période de Projection </h3>
  <p class=small>Périodes temporelles pour lesquelles les projections sont présentées. Alternativement vous pouvez choisir un
  <a href="switch_to_periods">niveau de réchauffement global</a>  pour lequel la projection climatique régionale sera présentée
  <a href="documentation#doc_scenario"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></p>
      Période de Référence{{ form_period.ref_period(size=10) }}
      {% if ref_period_warning=='small' %}<p class=warn_txt><b>Attention: </b>Nous suggérons d'utiliser des périodes d'au moins 20 années!</p>{% endif %}
      {% if ref_period_warning=='strange' %}<p class=warn_txt><b>Attention: </b>La première année de la période doit être avant la seconde année!?!</p>{% endif %}
      {% if ref_period_warning=='out_range' %}<p class=warn_txt><b>Attention: </b>Veuillez choisir une période de référence entre 1979 et 2005!</p>{% endif %}
      Période de Projection{{ form_period.proj_period(size=10 ) }}
      {% if ref_period_warning=='small' %}<p class=warn_txt><b>Attention: </b>Nous suggérons d'utiliser des périodes d'au moins 20 années!</p>{% endif %}
      {% if ref_period_warning=='strange' %}<p class=warn_txt><b>Attention: </b>La première année de la période doit être avant la seconde année!?!</p>{% endif %}
      {% if ref_period_warning=='out_range' %}<p class=warn_txt><b>Attention: </b>Veuillez choisir une période de projection entre 1950 et 2099!</p>{% endif %}
    <button type="submit" class="btn">{{select_periods}}</button>
  </form>
{% endif %}



  <form method="POST" action="/season_choice" id="season_id">
  <h3>Échelle Temporelle</h3>
  <p class=small>Choisissez annuel, mensuel ou <a href="go_to_season_page">définissez une saison</a>.</p>
  {{ form_season.seasons(onchange="change_season();") }}
  </form>


  <form method="POST" action="/region_choice" id="region_id">
  <h3>Région Administrative <a href="documentation#doc_shapefiles"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a></h3>
  <p class=small>Région pour laquelle la trajectoire et le cycle annuel sont présentés. Vous pouvez aussi <a href="merging_page">regrouper des régions</a>.</p>
  {{ form_region.regions(onchange="change_region();") }}
  {% if small_region_warning==True %}
  <p class=warn_txt><b>Attention: </b>{{ warning_txt }}
  <a href="merging_page"><font color="BlueViolet">{{merge_regions}}</font></a></p>
  {% endif %}
  <IMG SRC={{ overview_plot }} ALT=' ' WIDTH=350 HEIGHT=350></IMG>
  </form>

</div>





<div id="LeftPanel" style="width: 74%; height: 100%; float: left; padding-left: 2%;">
  <h3>Projections climatiques régionales visualisées à l'échelle nationale</h3>
  <p>Cliquez sur <a class="label label-primary" tyle="margin-right: 5px;">png</a> ou <a class="label label-primary" tyle="margin-right: 5px;">pdf</a> pour télécharger les graphiques en haute résolution.
  <div id="LeftPanel" style="width: 50%; height: 100%; float: left;">
    {% if EWEMBI_plot!='no_plot' %}
      <figure>
      <caption><h3>Période de Référence
        <a href="documentation#doc_plot_climatology"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a>
        <form method="POST" action="/prepare_for_download/EWEMBI_plot**_large.png" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">png</button></form>
        <form method="POST" action="/prepare_for_download/EWEMBI_plot**.pdf" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">pdf</button></form></h3>
        </caption>
        <IMG SRC={{ EWEMBI_plot }} ALT=' ' WIDTH=100%></IMG>
        {% if indicator in ["température","précipitation"] %}
          <figcaption class=small>{{indicator[0].upper()+indicator[1:]}} {{indicator_add_on}}{{season_add_on}} sur la période de reference {{refP_clim_longname}} des données <a href=documentation#doc_EWEMBI>EWEMBI</a>.</figcaption>
        {% else %}
          <figcaption class=small>{{indicator[0].upper()+indicator[1:]}}{{season_add_on}} en tant que moyenne de la période de référence {{refP_clim_longname}}. Cette carte est basée sur les données <a href=documentation#doc_EWEMBI>EWEMBI</a>.</figcaption>
        {% endif %}
      </figure>
    {% endif %}
  </div>
  <div id="LeftPanel" style="width: 50%; height: 100%; float: left;">
    {% if Projection_plot!='no_plot' %}
      <figure>
        <caption><h3>Changement Projeté
        <a href="documentation#doc_plot_projection"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a>
        <form method="POST" action="/prepare_for_download/Projection_plot**_large.png" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">png</button></form>
        <form method="POST" action="/prepare_for_download/Projection_plot**.pdf" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">pdf</button></form></h3>
        </caption>
        <IMG SRC={{ Projection_plot }} ALT=' ' WIDTH=100%></IMG>
      <figcaption class=small>Changement projeté en {{indicator}}{{season_add_on}} pour {{proP_longname}} comparé à la période de référence {{refP_longname}}. Ici la <a href=documentation#doc_meth_ens_mean>moyenne de l'ensemble</a> des projections de <a href=documentation#doc_RCM>modèles climatiques régionales</a> est montrée. Les cellules de grilles pour lesquelles un <a href=documentation#doc_meth_disagreement>désaccord entre les modèles</a> est identifié sont coloriés en gris. Les projections sont basées sur le <a href=documentation#doc_scenario>scénario d'émission RCP4.5</a>.</figcaption>
      </figure>
    {% endif %}
  </div>
</div>

<div id="LeftPanel" style="width: 74%; height: 100%; float: left; padding-left: 2%;">
  <div id="LeftPanel" style="width: 50%; height: 100%; float: left;">
    {% if transient_plot!='no_plot' %}
      <figure>
        <caption><h3>Trajectoire de la Moyenne Régionale
        <a href="documentation#doc_plot_transient"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a>
        <form method="POST" action="/prepare_for_download/transient_plot**_large.png" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">png</button></form>
        <form method="POST" action="/prepare_for_download/transient_plot**.pdf" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">pdf</button></form></h3>
        </caption>
        <IMG SRC={{ transient_plot }} ALT=' ' WIDTH=100%></IMG>
      <figcaption class=small>Projections de <a href=documentation#doc_RCM>modèles climatiques régionales</a> pour {{indicator}}{{season_add_on}} présenté comme moyenne glissante de 20 années. La ligne représente la <a href=documentation#doc_meth_ens_mean>moyenne de l'ensemble</a> tandis que l'ombrage représente l'écart entre les modèles. Les projections sont basées sur le <a href=documentation#doc_scenario>scénario d'émission RCP4.5</a>.</figcaption>
      </figure>
    {% endif %}
  </div>

  <div id="LeftPanel" style="width: 50%; height: 100%; float: left;">
    {% if annual_cycle_plot!='no_plot' %}
      <figure>
        <caption><h3>Cycle Annuel de la Moyenne Régionale
        <a href="documentation#doc_plot_annual_cycle"><IMG SRC='static/images/question-mark-button.png' ALT=' ' WIDTH=12 HEIGHT=12></IMG></a>
        <form method="POST" action="/prepare_for_download/annual_cycle_plot**_large.png" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">png</button></form>
        <form method="POST" action="/prepare_for_download/annual_cycle_plot**.pdf" style="float: right;"><button type="submit" class="label label-primary" style="margin-right: 5px;">pdf</button></form></h3>
        </caption>
        <IMG SRC={{ annual_cycle_plot }} ALT=' ' WIDTH=100%></IMG>
      <figcaption class=small>Haut: Cycle annuel pour {{indicator}} pour la période {{refP_clim_longname}}. Bas: Changements dans le cycle annuel projeté pour {{proP_longname}} par rapport à la période de référence {{refP_longname}}. Les données <a href=documentation#doc_EWEMBI>EWEMBI</a> sont montrés en noir, les projections de <a href=documentation#doc_RCM>modèles climatiques régionales</a> en vert. La ligne verte représente la <a href=documentation#doc_meth_ens_mean>moyenne de l'ensemble</a> tandis que l'ombrage représente l'écart entre les modèles. Les projections sont basées sur le <a href=documentation#doc_scenario>scénario d'émission RCP4.5</a>.</figcaption>
      </figure>
    {% endif %}
  </div>
</div>


</div>



<!-- {% if user_type=='advanced' %}
  <form method="POST" action="/scenario_choice" id="scenario_id">
  {{ form_scenario.scenarios.label }}<br> {{ form_scenario.scenarios(onchange="change_scenario();") }}
  </form>

  <form method="POST" action="/dataset_choice" id="dataset_id">
  {{ form_dataset.datasets.label }}<br> {{ form_dataset.datasets(onchange="change_dataset();") }}
  </form>

  <div row>
    <form method="POST" action="/go_to_model_agreement">
      <button type="submit" class="btn">Model Agreement</button>
    </form>
    <form method="POST" action="/go_to_bias_correction">
      <button type="submit" class="btn">Bias Correction</button>
    </form>
  </div>
{% endif %} -->



{% endblock %}


    'fr':{
      'overview_plot':overview_plot.replace('app/',''),

      'EWEMBI_plot':EWEMBI_plot.replace('app/',''),
      'EWEMBI_plot_title':'Climatologie',
      'EWEMBI_plot_title_txt':indicator_dict[lang][s['indicator']]+' en moyenne de le période de référence '+refP_clim_longname+' '+s['season']+'. Les observations proviennent de EWEMBI',

      'Projection_plot':Projection_plot.replace('app/',''),
      'Projection_plot_title':'Changement Projeté',
      'Projection_plot_title_txt':'Changement projeté en '+indicator_dict[lang][s['indicator']]+' pour '+proP_longname+' par rapport à la période de référence '+refP_longname+' '+s['season']+'. Ici la moyenne de l`ensemble est présentée, les grilles pour lesquelles les différents modèles sont en désaccord sont coloriés en gris. Les projections sont basées sur le scénario d´émission RCP4.5.',

      'transient_plot':transient_plot.replace('app/',''),
      'transient_plot_title':'Trajectoire Projetée',
      'transient_plot_title_txt':indicator_dict[lang][s['indicator']]+' présenté comme moyenne mobile de 20 années. Observations (EWEMBI) en noir pour la période 1989-2003. Modélisations climatiques régionales en vert pour la période 1960-2090. La ligne représente la moyenne de l`ensemble et la zone ombragée montre l`écart entre les modèles. Des différences entre observations et la modélisation climatique pendant la période 1989-2003 doivent être attendus. Les projections sont basées sur le scénario d´émission RCP4.5.',

      'annual_cycle_plot':annual_cycle_plot.replace('app/',''),
      'annual_cycle_plot_title':'Cycle Annuel',
      'annual_cycle_plot_title_txt':'Cycle annuel de '+indicator_dict[lang][s['indicator']]+' pour la période de référence '+refP_clim_longname+' (en haut) et différences dans le cycle annuel projetées pour '+proP_longname+ ' par rapport à la période de référence'+refP_longname+' (en bas). Observations (EWEMBI) en vert, modélisation climatique régionale en vert. La ligne représente la moyenne de l`ensemble et la zone ombragée montre l`écart entre les modèles. Les projections sont basées sur le scénario d´émission RCP4.5.',
    }
    }
