{% extends "index.html" %}
{% block content %}




<div row>
    <form method="POST" action="/go_to_choices">
      <button type="submit" class="btn">Back</button>
    </form>
</div>




<div row>
	<div row>
		Model Agreement
	</div>
<IMG SRC={{ CORDEX_BC_plot_detail }} ALT=CORDEX_BC_plot WIDTH=700 HEIGHT=500>
</div>

<div row>
	<div row>
		Model Performance over reference period:
		(difference between observations and bias corrected model output over the reference period)
	</div>
    <IMG SRC={{ bias_corretion_check }} ALT=CORDEX_BC_plot WIDTH=700 HEIGHT=500>
</div>






{% endblock %}





