{% extends "layout.html" %}
{% block content %}



<!-- BEGIN COMPONENT Simple Table - Taco HTML Edit -->
<style type="text/css">
table#myTable
{
	width: 40%;
	margin-left: 100px;
	border: 0px solid #6c7aa9;
	border-collapse: separate;
	border-spacing: 0px;
	*border-collapse: expression('separate', cellSpacing = '0px'); /*For IE*/
}
table#myTable tbody tr
{
	background-color: #ffffff;
	color: #000000;
}
table#myTable tbody tr.tswOddRow
{
	background-color: #edf3ff;
}
table#myTable td
{
	border: 1px solid #cccccc;
	padding: 2px;

}

p
{
    width:600px;
    word-wrap:break-word;
    margin-left: 100px
}

ul.list
{
    width:600px;
    word-wrap:break-word;
    margin-left: 100px;
    list-style-type:square;
}

section {
    padding-top: 60px;
    margin-top: -60px;
}

h2
{
    width:600px;
    word-wrap:break-word;
    margin-left: 40px
}

h3
{
    width:600px;
    word-wrap:break-word;
    margin-left: 60px
}

h4
{
    width:600px;
    word-wrap:break-word;
    margin-left: 80px
}

#parent {
    width:100%;
    height:100%;
}

#sidebar {
    padding-top:50px; /* padding-top must be the same as header height */
    width:300px;
    height:100%;
    /*background-color: blue;*/
    box-sizing:border-box;
    position: fixed;
    z-index:99;
}

#main-content {
    position: relative;
    width: 100%;
    padding-left:300px; /* padding-left must be the same as sidebar width */
    /*height: 300px;  This could be anything, content should scroll vertical */
    /*background: green;*/
    box-sizing:border-box;
    padding-top: 50px; /* padding-top must be the same as header height */
    padding-bottom: 150px;
    height: 100%;
    overflow: auto;
}

.anchor{
   display:block;
   height:60px; /* this is the height of your header */
   margin-top:-60px; /* this is again negative value of the height of your header */
   visibility:hidden;
}

</style>




<!-- END COMPONENT Simple Table - Taco HTML Edit -->

<!-- End HEAD content -->
<div id="loading"><div id="overlay"></div><div id='overlay_text'><h1>Loading ... </h1></div></div>
<div id="content">
<div id="sidebar">
  <div id="table-of-contents">
    <div id="text-table-of-contents">
    <a href="#doc_start">Documentation</a>
      <ul>
        <li><a href="#doc_summary">Résumé</a></li>
        <ul>
          <li><a href="#doc_purpose">Objectif</a></li>
          <li><a href="#doc_key_functionalities">Méthodes</a></li>
          <li><a href="#doc_limitations">Limitations</a></li>
        </ul>
        <li><a href="#doc_data_source">Sources des données</a></li>
        <ul>
          <li><a href="#doc_RCM">Modèles Climatiques Régionaux (RCMs)</a></li>
          <li><a href="#doc_ensemble">Choix de l'ensemble</a></li>
          <li><a href="#doc_scenario">Choix du scénario d'émission</a></li>
          <li><a href="#doc_EWEMBI">EWEMBI (observations et réanalyses)</a></li>
          <li><a href="#doc_bias_correction">Correction de biais</a></li>
          <li><a href="#doc_shapefiles">Shapefiles régionaux</a></li>
        </ul>
        <li><a href="#doc_indicators">Indicateurs climatiques</a></li>
        <li><a href="#doc_plot_explanation">Présentation des projections climatiques</a></li>
        <ul>
          <li><a href="#doc_plot_climatology">Carte pour la période de référence</a></li>
          <li><a href="#doc_plot_projection">Carte pour la période de projection</a></li>
          <li><a href="#doc_plot_transient">Trajectoire de la moyenne régionale</a></li>
          <li><a href="#doc_plot_annual_cycle">Cycle annuel de la moyenne régionale</a></li>
        </ul>
        <li><a href="#doc_tool">Outil pour l'analyse de données climatiques (Python)</a></li>
        <li><a href="#doc_acknowledgements">Remerciements</a></li>
        <li><a href="#doc_references">Références</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="main-content">
  <h1 class="title" id="doc_start">Documentation</h1>
  <span class=anchor id=doc_summary></span>
  <div id="outline-container-1" class="outline-2">
  <h2><span class="section-number-2"> Résumé </span></h2>
  <div class="outline-text-2" id="text-1"></div>
  </div>
  <span class=anchor id=doc_purpose></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Objectif </span></h3>
  <div class="outline-text-2" id="text-1">
  <p>Cet outil a été créé pour faciliter l'accès aux projections climatiques régionales de pointe au grand public. Les données climatiques utilisées sont en accès libre et les scripts Python développés pour ce site sont basés sur un code en libre accès. Notre approche se concentre sur des graphiques facilement interprétables qui peuvent être réutilisés dans des rapports sur les impacts des changements climatiques.
  </p>
  </div>
  </div>
  <span class=anchor id=doc_key_functionalities></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Méthodes </span></h3>
  <div class="outline-text-2" id="text-1">
  <p>
  Les graphiques obtenus sont calculés grâce à quatre fonctionnalités basiques :
  <ul class=list>
  <span class=anchor id=doc_meth_period></span>
  <li>Les <b>moyennes de périodes </b>sont utilisées pour la <a href='#doc_plot_climatology'>carte pour la période de référence</a> et la <a href='#doc_plot_projection'>carte pour la période de projection</a>. Puisque la variabilité inter-annuelle peut dominer le signal du changement climatique, le climat futur comme le climat de la période de référence doivent être calculés sur une période longue (nous suggérons de considérer 30 ans). Pour chaque cellule de grille, la moyenne temporelle de toutes les valeurs mensuelles (de la saison choisie) pour les années comprises dans la période est calculée. </li>
  <span class=anchor id=doc_meth_area></span>
  <li>Les <b>moyennes régionales </b>sont utilisées pour la <a href='#doc_plot_transient'>trajectoire de la moyenne régionale</a> et pour le <a href='#doc_plot_annual_cycle'>cycle annuel de la moyenne régionale</a>. La moyenne régionale est calculée pour chaque pas de temps en tant que moyenne de toutes les cellules de grille incluses au moins en partie dans la région. Les valeurs de chacune de ces cellules sont pondérées par la fraction de la surface de la région recouverte par la cellule.</li>
  <span class=anchor id=doc_meth_ens_mean></span>
  <li>Nous présentons la <b>moyenne de l'ensemble</b> des projections climatiques au lieu de présenter la projection de chaque modèle individuellement. La moyenne de l'ensemble est la moyenne des quatre modèles, calculée pour chaque cellule de grille ou pour chaque pas de temps selon le graphique. </li>
  <span class=anchor id=doc_meth_disagreement></span>
  <li> Si uniquement la moyenne d'ensemble était montrée, l'information sur les différences entre les modèles et sur l'incertitude seraient perdues. Dans la <a href='#doc_plot_projection'>carte pour la période de projection</a> nous montrons donc le <b>désaccord entre les modèles</b> pour partiellement réintroduire l'information sur l'incertitude. Nous considérons qu'il existe un désaccord entre les quatre modèles considérés si pour au moins deux d'entre eux le signe du changement projeté diffère du signe du changement projeté par la moyenne de l'ensemble.</li>
  </ul></p>
  </div>
  </div>


  <span class=anchor id=doc_limitations></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Limitations </span></h3>
  <div class="outline-text-2" id="text-1">
  <p>
  <ul class=list>
    <li><b>Petit Ensemble: </b>Les projections sont présentées pour un ensemble de quatre modèles climatiques régionaux. Nous soutenons qu'un plus grand ensemble n'améliorerait pas forcement la qualité des projections en raison des biais provenant de l'utilisation répétée des mêmes modèles de circulation générale (voir <a href=#doc_ensemble>choix de l'ensemble</a>). Cependant, une comparaison de notre ensemble de quatre modèles avec un plus vaste ensemble augmenterait la crédibilité des projections.</li>
    <li><b>Projections de Précipitation: </b>L'incertitude des projections de précipitations est particulièrement élevée pour une grande part de l'Afrique. Cela s'explique en partie par le manque d'un réseau de stations météorologiques dense dans beaucoup de régions africaines <a href=#ref_kim2014>(Kim 2014)</a>. </li>
    <li><b>Capacité des modèles de reproduire les événements extrêmes: </b>Bien que des techniques de <a href=#doc_bias_correction>correction de biais</a> ont été appliquées pour corriger des biais systématiques, pour certaines régions les indicateurs de changement climatique comme les <a href='#doc_TXx'>extrêmes de chaleur (TXx)</a> ou les <a href='#doc_RX1'>extrêmes humides (RX1day)</a> sont surestimés ou sous-estimés par les modèles. Veuillez voir <a href=#doc_bias_correction>correction de biais</a> pour plus d'informations. </li>
  </ul>
  </p>
  </div></div>


  <span class=anchor id=doc_data_source></span>
  <div id="outline-container-1" class="outline-2">
  <h2><span class="section-number-2"> Sources de données </span></h2>
  <div class="outline-text-2" id="text-1"></div>
  </div>

  <span class=anchor id=doc_RCM></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Modèles Climatiques Régionaux (RCM) </span></h3>
  <div class="outline-text-2" id="text-1">
<p>L'analyse de projections climatiques sur l'échelle régionale nécessite des données en haute résolution qui ne peuvent pas être fournies par les modèles de circulation générales (GCM). Les modèles climatiques régionaux (RCM) fournissent de projections climatiques de haute résolution pour une région limitée. Les RCMs modélisent les impacts régionaux des changements globaux en concentration de gaz à effet de serre. Pour cela les RCMs nécessitent les projections des GCMs comme données d'entrée et ainsi la modélisation climatique régionale est toujours une combinaison d'un GCM avec un RCM.</p>
  </div>
  </div>


  <span class=anchor id=doc_ensemble></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Choix de l'ensemble</span></h3>
  <div class="outline-text-2" id="text-1">
  <p>L'ensemble contients quatre combinaisons de RCMs et de GCMs. Bien que plus de combinaisons sont possibles, nous nous limitons a un petit ensemble dans lequel chaque modèle apparaît qu'une seule fois pour éviter des biais envers un des modèles.</p>
  <div rows>
  <div id="LeftPanel" style="width: 40%; height: 100%; float: left; padding-left: 20%; padding-right: 40%;">
      <table class="table">
      <thead>
        <tr>
          <th>Forçage GCM</th>
          <th>RCM</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>MPIESM</td><td>REMO</td></tr>
        <tr><td>HADGEM2</td><td>CCLM4</td></tr>
        <tr><td>ECEARTH</td><td>RACMO</td></tr>
        <tr><td>IPSL</td><td>RCA</td></tr>
      </tbody>
      </table>
  </div>
  </div>
  </div>
  </div>


  <span class=anchor id=doc_scenario></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2">Choix du scénario</span></h3>
  <div class="outline-text-2" id="text-1">
  <p>Les projections climatiques sont présentées pour le scénario d'émission RCP4.5, qui est entre le scénario d'émission atteignant 2°C de réchauffement global au-dessus du niveau préindustriel (RCP2.6) et le scenario sans efforts d'atténuation du changement climatique (RCP8.5).<br>
  Au lieu d'utiliser des <b>périodes fixes</b> et différents scénarios d'émission, on peut analyser des périodes pour lesquelles un certain <b>niveau de réchauffement global au-dessus du niveau préindustriel</b> est atteint. Pour chaque modèle nous estimons les périodes de vingt années pour lesquelles un certain niveau de réchauffement global est atteint. Quand les projections de la moyenne de l'ensemble sont présentées pour différents niveaux de réchauffement, différentes périodes sont utilisées pour les différents modèles: </p>
  <div id="LeftPanel" style="width: 40%; height: 100%; float: left; padding-left: 20%; padding-right: 40%;">
      <table class="table">
      <thead>
        <tr>
          <th>Modèle</th>
          <th>+1.5°C</th>
          <th>+2.0°C</th>
          <th>Référence +0.61°C</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>MPIESM-REMO</td><td>2023-2042</td><td>2054-2073</td><td>1986-2006</td></tr>
        <tr><td>HADGEM2-CCLM4</td><td>2013-2032</td><td>2028-2047</td><td>1986-2006</td></tr>
        <tr><td>ECEARTH-RACMO</td><td>2024-2043</td><td>2046-2065</td><td>1986-2006</td></tr>
        <tr><td>IPSL-RCA</td><td>2019-2038</td><td>2034-2053</td><td>1986-2006</td></tr>
      </tbody>
      </table>
  </div>
  </div>

  <p>Les niveaux de réchauffement sont calculés avec le <a href="http://wlcalc.climateanalytics.org">Warming Attribution Calculator</a></p>
  </div>


  <span class=anchor id=doc_EWEMBI></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2">EWEMBI (observations et réanalyses)</span></h3>
  <div class="outline-text-2" id="text-1">
  <p>EWEMBI est un produit de données de réanalyse et d'observations <a href=#ref_lange2016>(Lange 2016)</a>. EWEMBI couvre le globe avec une résolution de grille de 0.5°x0.5°. Les données EWEMBI sont utilisées pour la correction de biais et pour la présentation du <a href=#doc_plot_climatology>climat de référence</a>. Pour plus d'informations veuillez consulter <a href=https://www.isimip.org/gettingstarted/details/27>https://www.isimip.org/gettingstarted/details/27/</a></p>
  </div></div>

  <span class=anchor id=doc_bias_correction></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Correction de Biais </span></h3>
  <div class="outline-text-2" id="text-1">
  <p>Une technique de correction de biais est appliquée aux projections RCM. Cette technique de correction des biais ajuste les simulations climatiques envers les données de référence (<a href=doc_EWEMBI>EWEMBI</a>) sans influencer les tendances projetées <a href=#ref_hempel2013>(Hempel 2013)</a>.  </p>
  <div id="LeftPanel" style="width: 95%; height: 100%; float: left; padding-left: 5%; padding-right: 0%;">
    <figure>
    <IMG SRC='static/images/bias_correction/tas_transients.png ' ALT=' ' WIDTH=350 HEIGHT=350></IMG>
    <IMG SRC='static/images/bias_correction/pr_transients.png ' ALT=' ' WIDTH=350 HEIGHT=350></IMG>
    <IMG SRC='static/images/bias_correction/TXx_transients.png ' ALT=' ' WIDTH=350 HEIGHT=350></IMG>
    <IMG SRC='static/images/bias_correction/RX1_transients.png ' ALT=' ' WIDTH=350 HEIGHT=350></IMG>
    <IMG SRC='static/images/bias_correction/RX5_transients.png ' ALT=' ' WIDTH=350 HEIGHT=350></IMG>
    <IMG SRC='static/images/bias_correction/transients_legend.png ' ALT=' ' WIDTH=350 HEIGHT=350></IMG>
    <figcaption><b>Figure 1</b> Projections climatiques pour le Sénégal. <a href='#doc_RCM'>Modèles climatiques régionaux (RCM)</a> sans correction de biais en gris, <a href='#doc_RCM'>modèles climatiques régionaux (RCM)</a> avec correction de biais en magenta, <a href='#doc_EWEMBI'>EWEMBI</a> en noir et modèles de circulation générale (GCM) en vert. L'ensemble GCM comporte les cinq modèles utilisés comme données d'entrée pour le projet ISIMIP (voir <a href='https://www.isimip.org/gettingstarted/#input-data-bias-correction'>https://www.isimip.org</a>). La moyenne de l'ensemble est présentée par une ligne épaisse et l'écart entre les modèles est présenté par l'ombrage. Les données ont été amortis par une moyenne glissante de 20 années (voir <a href='#doc_plot_transient'>trajectoire de la moyenne régionale</a>). </figcaption>
    </figure>
  </div>
  <p>Pour les moyennes mensuelles de température et de précipitation la correction des biais améliore fortement la qualité des simulations. L'écart entres les modèles est réduit et la <a href=#doc_meth_ens_mean>moyenne de l'ensemble</a> est plus proche des données <a href='#doc_EWEMBI'>EWEMBI</a>. Il est à noter que la technique de correction de biais n'a pas comme objectif de corriger les tendances envers les observations et que pour cela la différence entre les tendances dans les données <a href='#doc_EWEMBI'>EWEMBI</a> et les simulations des modèles n'est pas liée à la méthode de correction des biais, elle est liée à la qualité limitée des modèles climatiques.</p>
  <p>Pour les valeurs extrêmes comme les <a href=#doc_TXx>extrêmes de chaleur (TXx)</a>, <a href=#doc_RX1>extrêmes humides (RX1day)</a> and <a href=#doc_RX5>extrêmes humides de 5 jours (RX5day)</a> les différences entre données <a href='#doc_EWEMBI'>EWEMBI</a> et les projections des modèles persistent après la correction des biais. La correction des biais avant tout réduit l'écart entre les modèles mais ne parvient pas à corriger <a href=#doc_meth_ens_mean>moyenne de l'ensemble</a> envers les données <a href='#doc_EWEMBI'>EWEMBI</a>. Les défaillances de la méthode de correction des biais utilisée pour les événements climatiques extrêmes ont été reportées par Sippel et al. <a href=#ref_sippel2016>(Sippel 2016)</a>.</p>
  </div></div>

  <span class=anchor id=doc_shapefiles></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Regional Shapefiles </span></h3>
  <div class="outline-text-2" id="text-1">
  <p>Les limites des pays et des régions administratives sont disponibles sur <a href=http://www.gadm.org>http://www.gadm.org</a></p>
  </div></div>


  <span class=anchor id=doc_indicators></span>
  <div id="outline-container-1" class="outline-2">
  <h2><span class="section-number-2"> Indicateurs Climatiques </span></h2>
  <div class="outline-text-2" id="text-1">
  <p>
  En plus de la moyenne de <b>température</b> et de la <b>précipitation</b> mensuelle cumulée, trois <a href='http://etccdi.pacificclimate.org/list_27_indices.shtml'>indicateurs de changement climatique</a> sont analysés:</p>
  <ul style="width:600px; word-wrap:break-word; margin-left: 100px; list-style-type:square;">
    <span class=anchor id=doc_TXx></span>
    <li><b>Extrêmes de chaleur TXx,</b> Maximum mensuel de température quotidienne maximale: <br>Supposons TXx sont les températures quotidienne maximale dans le mois k, période j. Le maximum mensuel de température quotidienne maximale dans chaque mois est:
    TXx<sub>kj</sub>=max(TXx<sub>kj</sub>) </li>
    <span class=anchor id=doc_RX1></span>
    <li><b>Extrêmes humides Rx1day,</b> Maximum mensuel de précipitation en une journée: <br>Supposons RR<sub>ij</sub> est la quantité de précipitation du jour i dans la période j. Le maximum mensuel de précipitation en une journée pour la période j est:  Rx1day<sub>j</sub> = max (RR<sub>ij</sub>) </li>
     <span class=anchor id=doc_RX5></span>
   <li><b>Extrêmes humides de 5 jours Rx5day,</b> Maximum mensuel de précipitation en cinq jours consécutifs: <br>Supposons RR<sub>kj</sub> est la quantité de précipitation de la période de cinq jours finissant le jour k dans la période j. Le maximum mensuel de précipitation en cinq jours pour la période j est: Rx5day<sub>j</sub> = max (RR<sub>kj</sub>) </li>
  </ul>
  <p>
  Veuillez trouver plus d'informations sur <a href='http://etccdi.pacificclimate.org'>http://etccdi.pacificclimate.org</a>.</p>
  <p>Dans la version actuelle aucun indicateur de sécheresse est présenté. Les changements pour les risques de sécheresse peuvent être estimés en analysant les précipitation mensuelles en combinaison avec les moyennes de température en supposant que l'évapotranspiration potentielle augmente avec une augmentation en température.</p>
  </div></div>


  <span class=anchor id=doc_plot_explanation></span>
  <div id="outline-container-1" class="outline-2">
  <h2><span class="section-number-2"> Présentation des projections climatiques </span></h2>
  <div class="outline-text-2" id="text-1"></div></div>

  <span class=anchor id=doc_plot_climatology></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Carte de la période de référence</span></h3>
  <div class="outline-text-2" id="text-1">
  <p>Pour chaque indicateur climatique une carte de la climatologie est présentée. Cette carte est une <a href='#doc_meth_period'>moyenne de période</a> de la période de référence pour les données <a href='#doc_EWEMBI'>EWEMBI</a>. Pour les indicateurs de température les régions les plus chaudes sont plus foncées que les régions plus fraîches. Pour les indicateurs de précipitation les régions plus humides sont plus foncées que les régions sèches.</p>
  </div></div>

  <span class=anchor id=doc_plot_projection></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2"> Carte de la projection </span></h3>
  <div class="outline-text-2" id="text-1">
  <p>
  Les changements dans les indicateurs climatiques sont présentés comme différence entre la <a href='#doc_meth_period'>moyenne de période</a> de la période de projection et la <a href='#doc_meth_period'>moyenne de période</a> de la période de référence. Les différences sont calculées individuellement pour chaque modèle. Dans la carte la <a href='#doc_meth_ens_mean'>moyenne de l'ensemble</a> du changement est présentée. Les cellules de la grille pour lesquelles le signe du changement projeté de deux des modèles diffère de la <a href='#doc_meth_ens_mean'>moyenne de l'ensemble</a> sont coloriées en gris puisque les <a href='#doc_meth_disagreement'>modèles sont en désaccord</a> concernant le futur changement dans cette cellule. Les changements vers des conditions plus chaudes ou plus sèches sont coloriés en rouge tandis que les changements vers des conditions plus fraîches et humides sont coloriés en bleu.
  </p>
  </div></div>

  <span class=anchor id=doc_plot_transient></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2">Trajectoire de la moyenne régionale</span></h3>
  <div class="outline-text-2" id="text-1">
  <p>Pour les graphiques de trajectoires la <a href='#doc_meth_area'>moyenne régionale</a> est évaluée à chaque pas de temps (les cellules sont pondérées par la fraction de la région couverte par la cellule). L'évolution de cette moyenne régionale est présentée pour les <a href='#doc_RCM'>projections RCM</a>. La <a href=#doc_meth_ens_mean>moyenne de l'ensemble</a> des projections RCM est indiquée par la ligne épaisse et l'écart entre les modèles est présenté par l'ombrage. Si vous choisissez un mois ou une saison, seulement les pas de temps correspondant du mois (des mois de la saison) sont considérés. les résultats sont amortis par une moyenne glissante de 20 années.</p>
  </div></div>

  <span class=anchor id=doc_plot_annual_cycle></span>
  <div id="outline-container-1" class="outline-2">
  <h3><span class="section-number-2">Cycle annuel de la moyenne régionale</span></h3>
  <div class="outline-text-2" id="text-1">
  <p>Le premier graphique montre le cycle annuel de la période de référence pour les données <a href='#doc_EWEMBI'>EWEMBI</a> et les <a href='#doc_RCM'>projections RCM</a>. Le second graphique montre les changements dans le cycle annuel. Ce changement projeté est la différence entre le cycle annuel de la période de projection et le cycle annuel de la période de référence. Comme pour les <a href=#doc_plot_transient>trajectoires</a> la <a href='#doc_meth_area'>moyenne régionale</a> est présentée. La <a href=#doc_meth_ens_mean>moyenne de l'ensemble</a> des projections RCM est indiquée par l'épaisse ligne verte et l'écart entre les modèles est présenté par l'ombrage vert.</p>
  </div></div>


  <span class=anchor id=doc_tool></span>
  <div id="outline-container-1" class="outline-2">
  <h2><span class="section-number-2">Outil pour l'analyse de données climatiques (Python)</span></h2>
  <div class="outline-text-2" id="text-1">
  <p>Ce site est basé sur un outil Python qui à été développé pour l'analyse régionale. En plus de fonctionnalités basiques pour calculer des <a href='#doc_meth_period'>moyennes des périodes</a>, des <a href='#doc_meth_area'>moyennes régionales</a> et des <a href='#doc_meth_ens_mean'>moyennes d'ensemble</a> l'outil comporte différentes fonctions additionnelles qui peuvent être utilisées pour des analyses plus sophistiquées.<br>
  Le code à source ouverte et la documentation de l'outil seront publiés prochainement.</p>
  </div></div>

  <span class=anchor id=doc_acknowledgements></span>
  <div id="outline-container-1" class="outline-2">
  <h2><span class="section-number-2"> Remerciments </span></h2>
  <div class="outline-text-2" id="text-1">
  <p>Nous remercions le Groupe de travail sur le climat régional du Programme mondial de recherche sur le climat (World Climate Research Programme) ainsi que le Groupe de travail sur la modélisation couplée, ancien organe de coordination du CORDEX et le comité responsable du CMIP5. Nous remercions également les groupes de modélisation du climat pour leurs travaux et la mise à disposition d’informations et de leurs modèles. Nous sommes reconnaissants également envers  l'infrastructure de la Earth System Grid Federation, un programme international de diagnostic et d'intercomparaison des modèles climatiques du Département américain de l'énergie, également reconnaissant envers le Réseau européen de modélisation des systèmes terrestres et d'autres partenaires de l'Organisation mondiale pour les portails scientifiques du système terrestre (GO-ESSP ).</p>
  </div></div>

  <span class=anchor id=doc_references></span>
  <div id="outline-container-1" class="outline-2">
  <h2><span class="section-number-2"> References </span></h2>
  <div class="outline-text-2" id="text-1">
  <p><small>
  <span class=anchor id=ref_hempel2013></span>Hempel, Sabrina, et al. "A trend-preserving bias correction–the ISI-MIP approach." Earth System Dynamics 4.2 (2013): 219-236.<br>
  <span class=anchor id=ref_lange2016></span>Lange, Stefan (2016): EartH2Observe, WFDEI and ERA-Interim data Merged and Bias-corrected for ISIMIP (EWEMBI). GFZ Data Services. http://doi.org/10.5880/pik.2016.004<br>
  <span class=anchor id=ref_sippel2016></span>Sippel, Sebastian, et al. "A novel bias correction methodology for climate impact simulations." Earth System Dynamics 7.1 (2016): 71.<br>
  </small></p>
  </div></div>

</div>
</div>
{% endblock %}
