{% extends "index.html" %}
{% block content %}




<div class="span2.5">
    <form method="POST" action="/go_to_choices">
      <button type="submit" class="btn">Done</button>
    </form>
	 <div class="span2.5">
	  <form method="POST" action="/merge_with_region" id="region_id">
	  {{ form_region.regions.label }}<br> {{ form_region.regions(onchange="change_region();") }}
	  </form>
</div>
</div>

{% if small_region_warning==True %}
   The merged region is still small!
{% endif %}

<div class="span7.5">
	<div row>
	</div>
    <IMG SRC={{ regions_plot }} ALT={{regions_plot}} WIDTH=300 HEIGHT=300>
    <a class="label label-primary" href={{ regions_plot }} target="_blank"  style="margin-right: 5px;">Download plot </a>
</div>






{% endblock %}





