{% extends "index.html" %}
{% block content %}

<div id="loading"><div id="overlay"></div></div>

<div id="content">

<div id="LeftPanel" style="width: 20%; height: 100%; float: left;">
      <h3>{{ season_page_h }}</h3>
  	<p class=small>{{ season_page_txt }}</p>
  <form method="POST" action="/add_month" id="month_id">
  {{ form_season.seasons.label }} {{ form_season.seasons(rows=10, size=7, onchange="month_to_new_season();") }}
  </form>

<form method="POST" action="/save_this_season"  onsubmit="save_this_season()" id="save_season_id">
  <button type="submit" class="btn">{{save_season}}</button>
</form>

</div>

<div id="LeftPanel" style="width: 50%; height: 100%; float: left;">
  {{new_season_name}}
</div>

</div>





{% endblock %}





